@import '../bolt/elements/focus.css';
@import '../bolt/elements/html.css';
@import '../bolt/elements/root.css';
@import '../bolt/elements/body.css';
@import '../bolt/classes/button.css';

:root {
    background-color: rgb(58, 43, 91);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body > harmony-circle:focus {
    outline: none !important;
}

body > footer {
    margin-top: 0.9375rem;
    padding: 0.5625rem;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 0.75rem;
    text-align: center;

    color: rgba(255,255,255,0.5);
}

footer a {
    color: inherit;
}
